<div class="container mt-5">
  <h1>My Todo List</h1>

  <div class="mb-3">
    <%= link_to "All", tasks_path(filter: 'all'), class: "btn btn-outline-primary #{'active' if @filter == 'all'}" %>
    <%= link_to "Pending", tasks_path(filter: 'pending'), class: "btn btn-outline-primary #{'active' if @filter == 'pending'}" %>
    <%= link_to "Complete", tasks_path(filter: 'complete'), class: "btn btn-outline-primary #{'active' if @filter == 'complete'}" %>
    <%= link_to 'Add New Task', new_task_path, class: 'btn btn-success float-end', remote: true %>
  </div>

  <ul class="list-group">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </ul>
</div>

<div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-form-body">
      <%= render partial: 'form', locals: { task: Task.new }%>
    </div>
  </div>
</div>